<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_RCAjTUqI1oUEonOdh0WzpVt85ZfmAhY</string>
	<key>GCM_SENDER_ID</key>
	<string>168246001887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasktrail</string>
	<key>PROJECT_ID</key>
	<string>task-trail-4012e</string>
	<key>STORAGE_BUCKET</key>
	<string>task-trail-4012e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168246001887:ios:1dcd7093d70eb778a9a96a</string>
</dict>
</plist>